!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body{:onload => "animateBackground();"}
    = Haml::Engine.new(File.read("assets/haml-includes/fullscreen.haml")).render
    .content
      = Haml::Engine.new(File.read("assets/haml-includes/logo.haml")).render
      = Haml::Engine.new(File.read("assets/haml-includes/menu.haml")).render
      .page
        %h1 Downloads
        %p
          %a{:href => "https://bintray.com/htop/source/htop"} Latest release.
        %p
          You can obtain it freely in two forms:
        %ul
          %li
            %a{:href => "#sources"} Sources
            \- source code, provided in this site
          %li
            %a{:href => "#binaries"} Binaries
            \- pre-compiled binaries, provided by distributions
        %p
          %b What's new in htop 3.0.2:
        %ul
          %li
            BUGFIX: Drop 'vim_mode' - several issues, needs rethink
          %li
            BUGFIX: fix regression in -u optional-argument handling
          %li
            Build system rework to remove python, header generation
            (thanks to Zev Weiss and Hugo Musso Gualandi)
          %li
            BUGFIX: report nice level correctly on Solaris
            (thanks to Dominik Hassler)
          %li
            CI, code quality improvements
            (thanks to Tobias Kortkamp, Christian Hesse, Benny Baumann)
        %p
          %b What's new in htop 3.0.1:
        %ul
          %li
            Coverity fixes, CI improvements, documentation updates
          %li
            BUGFIX: Fix early exit with longer sysfs battery paths
          %li
            BUGFIX: Improve OOM output, fix sorting
            (thanks to Christian Göttsche)
          %li
            Rework check buttons and tree open/closed
            (thanks to Bert Wesarg)
          %li
            Add -U/--no-unicode option to disable unicode
            (thanks to Christian Hesse)
          %li
            Improvements to the affinity panel
            (thanks to Bert Wesarg)
        %p
          %b What's new in htop 3.0.0:
        %ul
          %li
            Support ZFS ARC statistics
            (thanks to Ross Williams)
          %li
            Support more than 2 smaller CPU meter columns
            (thanks to Christoph Budziszewski)
          %li
            Support Linux proportional set size metrics
            (thanks to @linvinus, @ntninja and @himikof)
          %li
            Support Linux pressure stall information metrics
            (thanks to Ran Benita)
          %li
            New display option to show CPU frequency in CPU meters
            (thanks to Arnav Singh)
          %li
            Update Linux sysfs battery discovery for recent kernels
            (thanks to @smattie)
          %li
            Add hardware topology information in the affinity panel
            (thanks to Bert Wesarg)
          %li
            Add timestamp reporting to the strace screen
            (thanks to Mario Harjac)
          %li
            Add simple, optional vim key mapping mode
            (thanks to Daniel Flanagan)
          %li
            Added an option to disable the mouse
            (thanks to MartinJM)
          %li
            Add Solaris11 compatibility
            (thanks to Jan Senolt)
          %li
            Without an argument -u uses $USER value automatically
            (thanks to @solanav)
          %li
            Support less(1) search navigation shortcuts
            (thanks to @syrrim)
          %li
            Update the FreeBSD maximum PID to match FreeBSD change
            (thanks to @multiplexd)
          %li
            Report values larger than 100 terabytes
            (thanks to @adrien1018)
          %li
            Widen ST_UID (UID) column to allow for UIDs > 9999
            (thanks to DLange)
          %li
            BUGFIX: fix makefiles for building with clang
            (thanks to Jorge Pereira)
          %li
            BUGFIX: fix <sys/sysmacros.h> major() usage
            (thanks to @wataash and Kang-Che Sung)
          %li
            BUGFIX: fix the STARTTIME column on FreeBSD
            (thanks to Rob Crowston)
          %li
            BUGFIX: truncate overwide jail names on FreeBSD
            (thanks to Rob Crowston)
          %li
            BUGFIX: fix reported memory values on FreeBSD
            (thanks to Tobias Kortkamp)
          %li
            BUGFIX: fix reported CPU meter values on OpenBSD
            (thanks to @motet-a)
          %li
            BUGFIX: correctly identify other types of zombie process
            (thanks to @joder)
          %li
            BUGFIX: improve follow-process handling in some situations
            (thanks to @wangqr)
          %li
            BUGFIX: fix custom meters reverting to unexpected setting
            (thanks to @wangqr)
          %li
            BUGFIX: close pipe after running lsof(1)
            (thanks to Jesin)
          %li
            BUGFIX: meters honour setting of counting CPUs from 0/1
            (thanks to @rnsanchez)
        %p
          %b What's new in htop 2.2.0:
        %ul
          %li
            Solaris/Illumos/OpenIndiana support
            (thanks to Guy M. Broome)
          %li
            \-t/--tree flag for starting in tree-view mode
            (thanks to Daniel Flanagan)
          %li
            macOS: detects High Sierra version to avoid OS bug
            (thanks to Pierre Malhaire)
          %li
            OpenBSD: read battery data
            (thanks to @nerd972)
          %li
            Various automake and build improvements
            (thanks to Kang-Che Sung)
          %li
            Check for pkg-config when building with --enable-delayacct
            (thanks to @florian2833z for the report)
          %li
            Avoid some bashisms in configure script
            (thanks to Jesin)
          %li
            Use CFLAGS from ncurses*-config if present
            (thanks to Michael Klein)
          %li
            Header generator supports non-UTF-8 environments
            (thanks to @volkov-am)
          %li
            Linux: changed detection of kernel threads
          %li
            Collapse current subtree pressing Backspace
          %li
            BUGFIX: fix behavior of SYSCR column
            (thanks to Marc Kleine-Budde)
          %li
            BUGFIX: obtain exit code of lsof correctly
            (thanks to @wangqr)
          %li
            BUGFIX: fix crash with particular keycodes
            (thanks to Wellington Torrejais da Silva for the report)
          %li
            BUGFIX: fix issue with small terminals
            (thanks to Daniel Elf for the report)
          %li
            BUGFIX: fix terminal color issues
            (thanks to Kang-Che Sung for the report)
          %li
            BUGFIX: preserve LDFLAGS when building
            (thanks to Lance Frederickson for the report)
          %li
            BUGFIX: fixed overflow for systems with &gt;= 100 signals
        %p
          %b What's new in htop 2.1.0:
        %ul
          %li
            Linux: Delay accounting metrics
            (thanks to André Carvalho)
          %li
            DragonFly BSD support
            (thanks to Diederik de Groot)
          %li
            Support for real-time signals
            (thanks to Kang-Che Sung)
          %li
            'c' key now works with threads as well
          %li
            Session column renamed from SESN to SID
            (thanks to Kamyar Rasta)
          %li
            Improved UI for meter style selection
            (thanks to Kang-Che Sung)
          %li
            Improved code for constructing process tree
            (thanks to wangqr)
          %li
            Compile-time option to disable setuid
          %li
            Error checking of various standard library operations
          %li
            Replacement of sprintf with snprintf
            (thanks to Tomasz Kramkowski)
          %li
            Linux: performance improvements in battery meter
          %li
            Linux: update process TTY device
          %li
            Linux: add support for sorting TASK_IDLE
            (thanks to Vladimir Panteleev)
          %li
            Linux: add upper-bound to running process counter
            (thanks to Lucas Correia Villa Real)
          %li
            BUGFIX: avoid crash when battery is removed
            (thanks to Jan Chren)
          %li
            BUGFIX: macOS: fix infinite loop in tree view
            (thanks to Wataru Ashihara)
        %p
          %b What's new in htop 2.0.2:
        %ul
          %li
            Mac OS X: stop trying when task_for_pid fails for a process,
            stops spamming logs with errors.
          %li
            Add Ctrl+A and Ctrl+E to go to beginning and end of line
          %li
            FreeBSD: fixes for CPU calculation
            (thanks to Tim Creech, Andy Pilate)
          %li
            Usability: auto-follow process after a search.
          %li
            Use Linux backend on GNU Hurd
          %li
            Improvement for reproducible builds.
          %li
            Fix behavior of Alt-key combinations
            (thanks to Kang-Che Sung)
          %li
            Various code tweaks and cleanups
            (thanks to Kang-Che Sung)
        %p
          %b What's new in htop 2.0.1:
        %ul
          %li
            OpenBSD: Various fixes and improvements
            (thanks to Michael McConville and Juan Francisco Cantero Hurtado)
          %li
            FreeBSD: fix CPU and memory readings
            (thanks to Tim Creech, Hung-Yi Chen, Bernard Spil, Greg V)
          %li
            FreeBSD: add battery support
            (thanks to Greg V)
          %li
            Linux: Retain last-obtained name of a zombie process
          %li
            Mac OS X: Improve portability for OS X versions
            (thanks to Michael Klein)
          %li
            Mac OS X: Fix reading command-line arguments and basename
          %li
            Mac OS X: Fix process state information
          %li
            Mac OS X: Fix tree view collapsing/expanding
          %li
            Mac OS X: Fix tree organization
          %li
            Mac OS X: Fix memory accounting
          %li
            Fix crash when emptying a column of meters
          %li
            Make Esc key more responsive
        %p
          %b What's new in htop 2.0.0:
        %ul
          %li
            Platform abstraction layer
          %li
            Initial FreeBSD support
          %li
            Initial Mac OS X support
            (thanks to David Hunt)
          %li
            Swap meter for Mac OSX
            (thanks to Ștefan Rusu)
          %li
            OpenBSD port
            (thanks to Michael McConville)
          %li
            FreeBSD support improvements
            (thanks to Martin Misuth)
          %li
            Support for NCurses 6 ABI, including mouse wheel support
          %li
            Much improved mouse responsiveness
          %li
            Process environment variables screen
            (thanks to Michael Klein)
          %li
            Higher-resolution UTF-8 based Graph mode
            (Thanks to James Hall from vtop for the idea!)
          %li
            Show program path settings
            (thanks to Tobias Geerinckx-Rice)
          %li
            BUGFIX: Fix crash when scrolling an empty filtered list.
          %li
            Use dynamic units for text display, and several fixes
            (thanks to Christian Hesse)
          %li
            BUGFIX: fix error caused by overflow in usertime calculation.
            (thanks to Patrick Marlier)
          %li
            Catch all memory allocation errors
            (thanks to Michael McConville for the push)
          %li
            Several tweaks and bugfixes
            (See the Git log for details and contributors!)
        %hr/
        %a{:name => "sources"}
        %h3 Sources
        %p
          Building htop is straightforward, as it uses GNU Autotools: the typical
          %tt ./configure; make; sudo make install
          should do the trick.
          However, you may prefer to use binaries packaged for your distribution,
          = succeed "." do
            %a{:href => "#binaries"} see below
        %ul
          %li
            %b>
              %u Stable, tarball
            \: Check out the official tarball for the
            = succeed "." do
              %a{:href => "https://bintray.com/htop/source/htop"}
                latest version
          %li
            %b> Development, from the Git repository
            \: You can fetch the work-in-progress sources for
            the next release using
            = succeed ":" do
              %a{:href => "http://git-scm.org"} Git
            %br/
            %tt
              git clone https://github.com/htop-dev/htop
            %br/
            You can also
            %a{:href => "https://github.com/htop-dev/htop"} browse the Git tree
            online.
        %a{:name => "binaries"}
        %h3 Binaries
        %p
          Packages for htop are available in most distros.
          Try the package manager from your system; chances are
          %tt htop
          is available from there.
        %ul
          %li
            %b> GoboLinux
            \: In
            %a{:href => "http://www.gobolinux.org"} GoboLinux
            you can fetch and compile htop by typing:
            %tt
              Compile htop
          %li
            %b> Debian
            \:
            In Debian you can fetch htop by typing:
            %tt
              apt install htop
            %br/
            You can also download the binary packages from the
            = succeed "." do
              %a{:href => "http://packages.debian.org/htop"} Debian webpage
            %br/
            Thanks to Eugene Lyubimkin and Bartosz Fenski.
          %li
            %b> Fedora
            \:
            htop is included in the Fedora repositories; you can fetch it with:
            %tt
              dnf install htop
            %br/
            Thanks to Dawid Gajownik.
          %li
            %b> RedHat
            You can find RPM packages at
            %a{:href => "http://fedoraproject.org/wiki/EPEL"} EPEL
            %br/
            Thanks to Josh Stone for the tip.
          %li
            %b> Slackware
            \: htop is part of Slackware. You can find it in the ap/ section.
            %br/
            Thanks to Patrick Volkerding for including it, and to Fred Broders for earlier packages.
          %li
            %b> Gentoo
            \: In Gentoo Linux you can emerge the
            %a{:href => "http://gentoo-portage.com/sys-process/htop"} sys-process/htop
            package by typing:
            %tt
              emerge sys-process/htop
            %br/
            Thanks to Wolfram Schlich.
          %li
            %b> AltLinux
            \: here are the
            %a{:href => "http://sisyphus.ru/en/srpm/Sisyphus/htop/get"} latest RPMs
            for AltLinux.
            %br/
            Thanks to Ilya Evseev.
          %li
            %b> OpenSuSE
            \: htop is included in the
            = succeed "." do
              %a{:href => "http://build.opensuse.org/"} OpenSuSE build service
            %br/
            Thanks to Timo Hoenig.
        %p
          %b Known problems in older distributions:
          htop uses features of the C99 standard;
          therefore it fails to build with very old compilers.
    %br/
    %br/
    %br/
