!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body{:onload => "animateBackground();"}
    = Haml::Engine.new(File.read("assets/haml-includes/fullscreen.haml")).render
    .content
      = Haml::Engine.new(File.read("assets/haml-includes/logo.haml")).render
      = Haml::Engine.new(File.read("assets/haml-includes/menu.haml")).render
      .page
        %h1 Downloads
        %p
          %a{:href => "https://github.com/htop-dev/htop/releases"} Latest releases.
        %p
          You can obtain it freely in two forms:
        %ul
          %li
            %a{:href => "#sources"} Sources
            \- source code, provided on Github
          %li
            %a{:href => "#binaries"} Binaries
            \- pre-compiled binaries, provided by distributions
        %p
        %hr/
        %a{:name => "sources"}
        %h3 Sources
        %p
          Building htop is straightforward, as it uses GNU Autotools: the typical
          %tt ./configure; make; sudo make install
          should do the trick.
          However, you may prefer to use binaries packaged for your distribution,
          = succeed "." do
            %a{:href => "#binaries"} see below
        %ul
          %li
            %b>
              %u Stable, tarball Github
            \: Check out the Github releases (autotools required) for the
            = succeed "." do
              %a{:href => "https://github.com/htop-dev/htop/releases"}
                latest version
          %li
            %b> Development, from the Git repository
            \: You can fetch the work-in-progress sources for
            the next release using
            = succeed ":" do
              %a{:href => "http://git-scm.org"} Git
            %br/
            %tt
              git clone https://github.com/htop-dev/htop
            %br/
            You can also
            %a{:href => "https://github.com/htop-dev/htop"} browse the Git tree
            online.
        %a{:name => "binaries"}
        %h3 Binaries
        %p
          Packages for htop are available in most distros.
          Try the package manager from your system; chances are
          %tt htop
          is available from there.
        %ul
          %li
            %b> GoboLinux
            \: In
            %a{:href => "http://www.gobolinux.org"} GoboLinux
            you can fetch and compile htop by typing:
            %tt
              Compile htop
          %li
            %b> Debian
            \:
            In Debian you can fetch htop by typing:
            %tt
              apt install htop
            %br/
            You can also download the binary packages from the
            = succeed "." do
              %a{:href => "http://packages.debian.org/htop"} Debian webpage
            %br/
            Thanks to Daniel Lange, Graham Inggs, Eugene Lyubimkin and Bartosz Fenski.
          %li
            %b> Fedora
            \:
            htop is included in the Fedora repositories; you can fetch it with:
            %tt
              dnf install htop
            %br/
            Thanks to Dawid Gajownik.
          %li
            %b> RedHat
            \: You can find RPM packages at
            %a{:href => "http://fedoraproject.org/wiki/EPEL"} EPEL
            %br/
            Thanks to Josh Stone for the tip.
          %li
            %b> Slackware
            \: htop is part of Slackware. You can find it in the ap/ section.
            %br/
            Thanks to Patrick Volkerding for including it, and to Fred Broders for earlier packages.
          %li
            %b> Gentoo
            \: In Gentoo Linux you can emerge the
            %a{:href => "https://packages.gentoo.org/packages/sys-process/htop"} sys-process/htop
            package by typing:
            %tt
              emerge sys-process/htop
            %br/
            Thanks to Wolfram Schlich.
          %li
            %b> AltLinux
            \: here are the
            %a{:href => "http://sisyphus.ru/en/srpm/Sisyphus/htop/get"} latest RPMs
            for AltLinux.
            %br/
            Thanks to Ilya Evseev.
          %li
            %b> OpenSuSE
            \: htop is included in the
            = succeed "." do
              %a{:href => "http://build.opensuse.org/"} OpenSuSE build service
            %br/
            Thanks to Timo Hoenig.
          %li
            %b> Arch Linux
            \: htop is included in Arch Linux official repositories, you can get it with:
            %tt
              pacman -S htop
            %br/
            Thanks to Christian Hesse.
          %li
            %b> MacOS
            \: htop is included in the default Homebrew formulae, you can install it with:
            %tt
              brew install htop
            %br/
            Thanks to the
            %a{:href => "https://github.com/Homebrew/homebrew-core/blame/master/Formula/h/htop.rb"} homebrew contributors.
        %p
    %br/
    %br/
    %br/
