!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body{:onload => "animateBackground();"}
    = Haml::Engine.new(File.read("assets/haml-includes/fullscreen.haml")).render
    .content
      = Haml::Engine.new(File.read("assets/haml-includes/logo.haml")).render
      = Haml::Engine.new(File.read("assets/haml-includes/menu.haml")).render
      .page
        %h1 Mailing list
        %p
          To be informed of new releases, subscribe to the
          = succeed ":" do
            %b htop mailing list
        / BEGIN FreeLists WEB FORM
        %form{:action => "http://www.freelists.org/cgi-bin/subscription.cgi", :method => "post"}
          Enter your email address:
          %input{:name => "email", :type => "text"}/
          %input{:name => "list", :type => "hidden", :value => "YOURLISTNAMEHERE"}/
          %input{:name => "url_or_message", :type => "hidden", :value => ""}/
          %select{:name => "action"}
            %option{:value => "subscribe"} Subscribe
            %option{:value => "unsubscribe"} Unsubscribe
            %option{:value => "set digest"} Turn Digest mode on
            %option{:value => "unset digest"} Turn Digest mode off
            %option{:value => "set vacation"} Turn Vacation mode on
            %option{:value => "unset vacation"} Turn Vacation mode off
            %option{:value => "help"} Get Help
          %input{:type => "submit", :value => "Go!"}/
        / END FreeLists WEB FORM
        %p
          You can also subscribe by sending an email to
          %a{:href => "mailto:htop-request@freelists.org"} htop-request@freelists.org
          with
          "subscribe" in the subject.
          %br/
          Likewise, to unsubscribe send a message to this address with with "unsubscribe" in the subject.
          %br/
          Or just use the form above!
        %p
          You can also search the
          = succeed "." do
            %a{:href => "http://www.freelists.org/archive/htop/"} list archive
        %p
          More information at the
          = succeed "," do
            %a{:href => "http://www.freelists.org/list/htop"} htop mailing list page
          = succeed "." do
            %a{:href => "http://www.freelists.org"} FreeLists
        %p
          The archive of the old mailing is still available
          = succeed "." do
            %a{:href => "https://sourceforge.net/p/htop/mailman/htop-general"} here
    %br/
    %br/
    %br/
