!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body{:onload => "animateBackground();"}
    = Haml::Engine.new(File.read("assets/haml-includes/fullscreen.haml")).render
    .content
      = Haml::Engine.new(File.read("assets/haml-includes/logo.haml")).render
      = Haml::Engine.new(File.read("assets/haml-includes/menu.haml")).render
      .page
        %h1 Mailing list
        %p
          To be informed of new releases, subscribe to the
          = succeed ":" do
            %b htop mailing list
        %p
          You can subscribe by sending an email to
          %a{:href => "mailto:htop+subscribe@groups.io"} htop+subscribe@groups.io
          with
          "subscribe" in the subject.
          %br/
          Likewise, to unsubscribe send a message to
          %a{:href => "mailto:htop+unsubscribe@groups.io"} htop+unsubscribe@groups.io
          with "unsubscribe" in the subject.
        %p
          You can also search the
          = succeed "." do
            %a{:href => "https://groups.io/g/htop/topics"} list archive
        %p
          More information at the
          = succeed "," do
            %a{:href => "https://groups.io/g/htop"} htop mailing list page
          = succeed "." do
            %a{:href => "https://groups.io"} Groups.io
          page.
    %br/
    %br/
    %br/
